In [1]:
import pandas as pd 
import os 
import numpy as np

In [2]:
#Read in the vine_table.csv file as a DataFrame
path = "/Users/savannahestridge/Desktop/class/Amazon_Vine_Analysis/vine_table.csv"
df = pd.read_csv(path)
df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R14LVB34Z2Z53I,5.0,0.0,0.0,N,Y
1,R2M0R9CWPC82LT,5.0,0.0,0.0,N,Y
2,RQNQI2R3BM52A,4.0,0.0,0.0,N,Y
3,RTUIX1135HUAB,5.0,0.0,0.0,N,Y
4,RE3QSAT8TL010,4.0,0.0,0.0,N,Y
...,...,...,...,...,...,...
1688879,RPJVPR5A5XRAN,5.0,0.0,0.0,N,N
1688880,R1497N35CA1J5,5.0,0.0,0.0,N,N
1688881,RA1QA65MLJA0S,4.0,0.0,0.0,N,N
1688882,R1AUDY2ED3Q1YT,5.0,0.0,0.0,N,N
1688883,R3ODJG7TQK43XZ,5.0,0.0,0.0,N,N

In [3]:
#1. Filter the data and create a new DataFrame or table to retrieve all 
#the rows where the total_votes count is equal to or greater than 20 to pick reviews 
#that are more likely to be helpful and to avoid having division by zero errors later on.

helpful_vote_df = df[df["total_votes"] >= 20]
helpful_vote_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
319,R1S0N56H5B9SUX,5.0,30.0,30.0,N,Y
5683,RCDI7Z8VCZJI9,4.0,40.0,43.0,N,N
6081,R3F4225VTUO2WE,1.0,8.0,33.0,N,N
8753,R3ADPNURCCTK,1.0,1.0,39.0,N,N
9260,R2LWBYC8TEUVF2,5.0,50.0,53.0,N,Y
...,...,...,...,...,...,...
1688700,R1BSIOAJTD472E,2.0,10.0,37.0,N,N
1688733,R1O9L27PR8CYMN,5.0,24.0,28.0,N,N
1688736,R1T8JUDC5PFE89,3.0,3.0,27.0,N,N
1688803,R2SXH801UXVMUT,3.0,1.0,24.0,N,Y
1688830,R1ZG6Y8ELQ7CYS,1.0,4.0,31.0,N,N

In [4]:
#2.Filter the new DataFrame or table created in Step 1 and create a new DataFrame 
#or table to retrieve all the rows where the number of helpful_votes divided by 
#total_votes is equal to or greater than 50%.

hv_df = helpful_vote_df[(helpful_vote_df['helpful_votes']/helpful_vote_df['total_votes']) >= 0.5]
hv_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
319,R1S0N56H5B9SUX,5.0,30.0,30.0,N,Y
5683,RCDI7Z8VCZJI9,4.0,40.0,43.0,N,N
9260,R2LWBYC8TEUVF2,5.0,50.0,53.0,N,Y
9508,R23E4EIJXID5IC,5.0,43.0,43.0,N,N
10064,R1WFSWDT8L5RSJ,4.0,23.0,26.0,N,N
...,...,...,...,...,...,...
1688463,R29XFIQHBRZI5M,5.0,19.0,20.0,N,Y
1688654,R37GT7I6AFE9E,5.0,15.0,21.0,N,Y
1688668,R2L1OTCLWU32OP,5.0,22.0,26.0,N,Y
1688697,R2C9ZB6UN5S4IU,5.0,57.0,58.0,N,Y
1688733,R1O9L27PR8CYMN,5.0,24.0,28.0,N,N

In [5]:
#3.Filter the DataFrame or table created in Step 2, and create a new DataFrame or table 
#that retrieves all the rows where a review was written as part of the Vine program (paid), vine == 'Y'.

vine_y_df = hv_df[(hv_df['vine'] == 'Y')]
vine_y_df

Empty DataFrame
Columns: [review_id, star_rating, helpful_votes, total_votes, vine, verified_purchase]
Index: []

In [9]:
df.vine.value_counts()

N    1688881
Name: vine, dtype: int64

## My original dataset had no 'Y' values for the vine column.

In [7]:
#4.Repeat Step 3, but this time retrieve 
#all the rows where the review was not part of the Vine program (unpaid), vine == 'N'.

vine_n_df = hv_df[(hv_df['vine'] == 'N')]
vine_n_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
319,R1S0N56H5B9SUX,5.0,30.0,30.0,N,Y
5683,RCDI7Z8VCZJI9,4.0,40.0,43.0,N,N
9260,R2LWBYC8TEUVF2,5.0,50.0,53.0,N,Y
9508,R23E4EIJXID5IC,5.0,43.0,43.0,N,N
10064,R1WFSWDT8L5RSJ,4.0,23.0,26.0,N,N
...,...,...,...,...,...,...
1688463,R29XFIQHBRZI5M,5.0,19.0,20.0,N,Y
1688654,R37GT7I6AFE9E,5.0,15.0,21.0,N,Y
1688668,R2L1OTCLWU32OP,5.0,22.0,26.0,N,Y
1688697,R2C9ZB6UN5S4IU,5.0,57.0,58.0,N,Y
1688733,R1O9L27PR8CYMN,5.0,24.0,28.0,N,N

In [8]:
#I think all of the values under the "vine" column are "N". Not sure if I created the original dataframe I'm filtering incorrectly?